@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

:root {
    --red-color: #d10024;
}

.header {
    display: flex;
    background-color: #1e1f29;
}

.header__ul-left {
    padding-left: 5em;
}

.header__li {
    display: inline;
    font-size: 14px;
    padding: 7px;
}

.header__li a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.header__li a:hover {
    color: var(--red-color);
    transition: .3s;
}

.header__li a i {
    color: var(--red-color);
}

.header__ul-right {
    padding-right: 5em;
    padding-left: 0%;
    margin-left: auto;
}

.nav {
    background-color: #15161d;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav__li {
  color: #fff;
}

.img-container {
    padding-left: 5em;
}

.dropdown {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -4em;
}

.dropdown__select {
    border: 2px solid #E4E7ED;
    padding: 0 15px;
    min-height: 2.2em;
    border-radius: 2em 0 0 2em;
    min-width: 8.6em;
    background-color: #fff;
}

.dropdown__searchbar {
    height: 2.1em;
    border: 0;
    width: 23em;
}

.dropdown__button {
    border: 0;
    width: 8em;
    height: 2.1em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: var(--red-color);
    color: #fff;
    max-height: 3em;
    font-size: 17px;
}