@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

:root {
    --red-color: #d10024;
    --gray-color: #e4e7ed;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #1e1f29;
}

.header__ul-left {
    padding-left: 5em;
}

.header__li {
    display: inline;
    font-size: 14px;
    padding: 7px;
}

.header__li a {
    color: #fff;
    transition: .3s;
}

.header__li a:hover {
    color: var(--red-color);
    transition: .3s;
}

.header__li a i {
    color: var(--red-color);
}

.header__ul-right {
    padding-right: 5em;
    padding-left: 0%;
    margin-left: auto;
}

.nav {
    background-color: #15161d;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav__ul {
    display: flex;
    justify-content: right;
    margin-top: -1.8em;
    margin-right: 3em;
}

.nav__li {
    color: #fff;
    display: inline-flex;
    padding-left: 2em;
    flex-direction: column;
    align-items: center;
}

.nav__li i {
    padding-bottom: .5em;
    cursor: pointer;
}

.nav__li a {
    color: #fff;
    transition: .3s;
}

.fa-regular {
    padding-right: .5em;
}

.img-container {
    padding-left: 5em;
}

.dropdown {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -4em;
}

.dropdown__select {
    border: 2px solid #E4E7ED;
    padding: 0 15px;
    min-height: 2.12em;
    border-radius: 2em 0 0 2em;
    min-width: 8.6em;
    background-color: #fff;
}

.dropdown__searchbar {
    height: 2em;
    border: 0;
    width: 23em;
}

.dropdown__button {
    border: 0;
    width: 8em;
    border-radius: 0 2em 2em 0;
    background-color: var(--red-color);
    color: #fff;
    min-height: 2.1em;
    font-size: 17px;
}

.navigation {
    border-top: 3px solid var(--red-color);
    border-bottom: 2px solid var(--gray-color);
}

.navigation__ul {
    display: flex;
    justify-content: center;
}

.navigation__li {
    display: inline;
    padding: 0 2em;
}

.navigation__li a {
    color: #000;
    font-weight: 500;
}

.navigation__li a:hover {
    color: var(--red-color);
    text-decoration: underline var(--red-color);
    text-underline-offset: .3em;
    transition: .2 all;
}

.section__img img {
    width: 30%;
}